$color_1: #e35aff;
$color_2: var(--color-white);
$color_3: #fff;
$color_4: #3d2514;
$color_5: transparent;
$color_6: #a7a7a7;
$color_7: #5b5a99;
$color_8: #f39e09;
$color_9: #eaeaea;
$color_10: gold;
$color_11: #7541de;
$color_12: #c5c5ca;
$color_13: #6c757d;
$font-family_1: 'metaicon';
$font-family_2: 'Nunito Sans', sans-serif;
$font-family_3: Montserrat, sans-serif;
$font-family_4: "metaicon";
$background-color_1: rgba(0, 0, 0, 0.5);
$background-color_2: rgba(0, 0, 0, 0.8);
$background-color_3: rgba(0, 0, 0, 0.3);
$background-color_4: #e35aff;
$background-color_5: rgb(227 90 255 / 20%);
$background-color_6: transparent;
$background-color_7: #121212;
$background-color_8: var(--color-black-1);
$background-color_9: #69513d;
$background-color_10: #bba02b;
$background-color_11: var(--color-white);
$background-color_12: #120d21;
$background-color_13: #3c0476;
$background-color_14: #eeebeb;
$background-color_15: rgba(18, 13, 33, .8);
$background-color_16: #12082d;
$background-color_17: #322d44;
$background-color_18: #fff;
$border-color_1: transparent;
$border-color_2: #e35aff;

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@charset "UTF-8";
/*
	Theme Name: Oyunbaz
	Theme URI: themeforest.net/user/alissio
	Author: Alissio
    Author URI: oyunbaz.netlify.app
	Description: Alissio – Game & Gaming HTML Template
	License: GNU General Public License v2 or later
	License URI: www.gnu.org/licenses/gpl-2.0.html
	Tags: one-column, two-columns, three-columns, custom-colors, custom-header, custom-menu, custom-logo, featured-images, post-formats, sticky-post, theme-options, threaded-comments, translation-ready
	Text Domain: oyunbaz
	Version: 1.0.0
*/
/* ========================

[Index]
    1. Global
		1.1 Icomoon Custom Icon Font
		1.2 General
		1.3 Scrollbar
		1.4 Scroll Up
		1.5 Loading Overlay
    2. Carousel
    3. Header
		3.1 Header General
		3.2 Navbar
		3.3 Mobile Right Menu
    4. Custom Slick Slider
    5. Card
        5.1 Card General
        5.2 Challenge
        5.3 Games
        5.4 Tournament
        5.5 Features
        5.6 About
            5.6.1 About General
            5.6.2 Follow Social
            5.6.3 Subscribe
            5.6.4 Contact
        5.7 Reviews
    6. Footer
    7. Responsive


======================== */
/*======
*
* 1. Global
*
======*/
/*====== 1.1 Icomoon Custom Icon Font ======*/
@font-face {
	font-family: 'metaicon';
	src: url('../fonts/iconfont/mataicon.eot?r8ard2');
	src: url('../fonts/iconfont/mataicon.eot?r8ard2#iefix') format('embedded-opentype'), url('../fonts/iconfont/mataicon.ttf?r8ard2') format('truetype'), url('../fonts/iconfont/mataicon.woff?r8ard2') format('woff'), url('../fonts/iconfont/mataicon.svg?r8ard2#mataicon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
/*====== 1.2 General ======*/
/*====== 1.3 Scrollbar ======*/
/* width */
/* Track */
/* Handle */
/* Handle on hover */
/*====== 1.4 Scroll Up ======*/
/*====== 1.5 Loading Overlay ======*/
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes sk-bounce {
	0%,100% {
		-webkit-transform: scale(0.0);
	}
	50% {
		-webkit-transform: scale(1.0);
	}
}
@keyframes sk-bounce {
	0%,100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
/*====== 1.6 Modal ======*/
/*======
*
* 2. Carousel
*
======*/
/*======
*
* 3. Header
*
======*/
/*====== 3.1 Header General ======*/
/*====== 3.2 Navbar ======*/
/*====== 3.3 Mobile Right Menu ======*/
/*======
*
* 4. Custom Slick Slider
*
======*/
/*======
*
* 5. Card
*
======*/
/*====== 5.1 Card General ======*/
/*====== 5.2 Challenge ======*/
/*====== 5.3 Games ======*/
/*====== 5.4 Tournament ======*/
/*====== 5.5 Features ======*/
/*====== 5.6 About ======*/
/*====== 5.6.1 About General ======*/
/*====== 5.6.2 Follow Social ======*/
/*====== 5.6.3 Subscribe ======*/
/*====== 5.6.4 Contact ======*/
/*====== 5.7 Reviews ======*/
/*======
*
* 6. Footer
*
======*/
/*======
*
* 7. Responsive
*
======*/
i {
	font-family: $font-family_1 !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-xbox {
	&:before {
		content: "\e900";
	}
}
.icon-download {
	&:before {
		content: "\e902";
	}
}
.icon-minus {
	&:before {
		content: "\e903";
	}
}
.icon-close {
	&:before {
		content: "\e904";
	}
}
.icon-arrow-r {
	&:before {
		content: "\e905";
	}
}
.icon-arrow-l {
	&:before {
		content: "\e906";
	}
}
.icon-twitter {
	&:before {
		content: "\e907";
	}
}
.icon-instagram {
	&:before {
		content: "\e908";
	}
}
.icon-linkedin {
	&:before {
		content: "\e909";
	}
}
.icon-facebook {
	&:before {
		content: "\e90a";
	}
}
.icon-clock {
	&:before {
		content: "\e94e";
	}
}
.icon-bookmark {
	&:before {
		content: "\e9d2";
	}
}
.icon-star-empty {
	&:before {
		content: "\e9d7";
	}
}
.icon-star-half {
	&:before {
		content: "\e9d8";
	}
}
.icon-star-full {
	&:before {
		content: "\e9d9";
	}
}
.icon-heart {
	&:before {
		content: "\e9da";
	}
}
.icon-amazon {
	&:before {
		content: "\ea87";
	}
}
.icon-youtube {
	&:before {
		content: "\ea9d";
	}
}
.icon-steam {
	&:before {
		content: "\eaac";
	}
}
.icon-appleinc {
	&:before {
		content: "\eabe";
	}
}
.icon-windows {
	&:before {
		content: "\eac2";
	}
}
.icon-windows8 {
	&:before {
		content: "\eac3";
	}
}
.icon-paypal {
	&:before {
		content: "\ead8";
	}
}
.icon-bubbles {
	&:before {
		content: "\e96d";
	}
}
.icon-users {
	&:before {
		content: "\e972";
	}
}
.icon-cogs {
	&:before {
		content: "\e995";
	}
}
.icon-trophy {
	&:before {
		content: "\e99e";
	}
}
.icon-play {
	&:before {
		content: "\ea15";
	}
}
.icon-quotes-left {
	&:before {
		content: "\e977";
	}
}
* {
	margin: 0;
	padding: 0;
	line-height: normal;
}
&:root {
	--progress-bar-width: 30px;
	--progress-bar-height: 30px;
	--color-white: #fff;
	--color-black-1: #000;
}
body {
	font-family: $font-family_2;
	font-weight: 400;
	background: url('../img/body-bg.jpg');
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-color: $background-color_1;
		width: 100%;
		height: 100%;
	}
}
h1 {
	margin-bottom: 0;
}
h2 {
	margin-bottom: 0;
}
h3 {
	margin-bottom: 0;
}
h4 {
	margin-bottom: 0;
}
h5 {
	margin-bottom: 0;
}
h6 {
	margin-bottom: 0;
}
p {
	margin-bottom: 0;
}
a {
	color: $color_1;
	&:hover {
		color: $color_1;
	}
}
.line-x {
	width: 100%;
	height: 1px;
	opacity: 0.3;
	background: var(--color-white);
}
.d-none {
	display: none;
}
.border-0 {
	border: none;
}
.cover {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: $background-color_2;
	}
}
.layout {
	position: relative;
	z-index: 1;
}
.parallax {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: $background-color_3;
	}
	>* {
		z-index: 1;
	}
}
.title {
	color: $color_2;
	margin-bottom: 3rem;
	font-weight: 700;
	font-size: 2rem;
	padding-bottom: 1rem;
	position: relative;
	&:after {
		content: "";
		width: 60px;
		height: 3px;
		background-color: $background-color_4;
		position: absolute;
		bottom: 0;
		left: 0;
		border-radius: 10px;
	}
}
.title-horz {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-column-gap: 3rem;
	-moz-column-gap: 3rem;
	column-gap: 3rem;
	margin-bottom: 3rem;
	.title {
		margin-bottom: 0;
	}
	.link-primary {
		margin-top: .5rem;
		text-transform: none;
		font-size: 13px;
	}
}
.desc {
	color: $color_3;
	opacity: .5;
	line-height: 1.5rem;
	margin-bottom: 2rem;
}
.row {
	margin-top: 0;
}
.section {
	padding: 100px 0 50px;
}
.layer {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 0 !important;
}
.content {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.link-outline {
	padding: 4px 14px;
	color: $color_2;
	background-color: $background-color_5;
	border: 1px solid #e35aff;
	text-decoration: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 14px;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	&:hover {
		-webkit-box-shadow: 0 0 10px 0px #e35aff;
		box-shadow: 0 0 10px 0px #e35aff;
		color: $color_2;
	}
}
.link-primary {
	padding: 4px 14px;
	color: $color_2;
	background: -webkit-gradient(linear, left top, right top, from(#e459f2), to(#7340dd));
	background: -o-linear-gradient(left, #e459f2, #7340dd);
	background: linear-gradient(to right, #e459f2, #7340dd);
	border: none;
	text-decoration: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 14px;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	&:focus {
		color: $color_3;
	}
	&:hover {
		color: $color_2;
		-webkit-box-shadow: 0 0 10px 0px #e459f2;
		box-shadow: 0 0 10px 0px #e459f2;
	}
}
&::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
&::-webkit-scrollbar-track {
	background: #1c1c1c;
}
&::-webkit-scrollbar-thumb {
	background: #e35aff;
	border-radius: 10px;
	&:hover {
		background: #e459f2;
	}
}
.scroll-up {
	position: fixed;
	right: 50px;
	bottom: 40%;
	-webkit-transform: translateY(-40%);
	-ms-transform: translateY(-40%);
	transform: translateY(-40%);
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
	z-index: 10;
	border-radius: 50%;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.scroll-up.show {
	visibility: visible;
	opacity: 1;
}
.scroll-up_text {
	color: $color_2;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	letter-spacing: .75px;
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	&:hover {
		color: $color_1;
	}
}
.scroll-up_bar {
	width: 2px;
	background-color: $background-color_4;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	visibility: hidden;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		width: 2px;
		border-radius: 10px;
		min-height: 100px;
		background: rgba(255, 255, 255, .2);
	}
}
.loading-overlay {
	opacity: 1;
	visibility: visible;
	background: var(--color-black-1);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	.spinner {
		width: 3.077rem;
		height: 3.077rem;
		overflow: hidden;
		position: relative;
	}
	.double-bounce1 {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
		animation: sk-bounce 2.0s infinite ease-in-out;
		background-color: $background-color_4;
	}
	.double-bounce2 {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
		animation: sk-bounce 2.0s infinite ease-in-out;
		background-color: $background-color_4;
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}
}
.loaded {
	.loading-overlay {
		opacity: 0;
		visibility: hidden;
		-webkit-transition: 0.2s;
		-o-transition: 0.2s;
		transition: 0.2s;
	}
}
.modal-content {
	background-color: $background-color_6;
}
.modal-dialog {
	max-width: 840px;
}
.modal-close {
	padding: 1rem 0;
	text-align: right;
	i {
		color: $color_2;
		cursor: pointer;
		opacity: .6;
		-webkit-transition: opacity .3s ease-in-out;
		-o-transition: opacity .3s ease-in-out;
		transition: opacity .3s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
}
.carousel {
	height: 100vh;
}
.carousel-inner {
	height: 100vh;
}
.carousel-item {
	height: 100vh;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0)), to(var(--color-black-1)));
		background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 10%, var(--color-black-1) 100%);
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, var(--color-black-1) 100%);
	}
}
.carousel-img {
	width: 100%;
	min-width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: -webkit-transform 1s ease-in-out;
	transition: -webkit-transform 1s ease-in-out;
	-o-transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
.carousel-actions {
	position: absolute;
	bottom: 16px;
	left: 10%;
	-webkit-transform: translateX(-10%);
	-ms-transform: translateX(-10%);
	transform: translateX(-10%);
	width: 100%;
	z-index: 2;
}
.carousel-control-prev {
	position: relative;
	top: auto;
	width: auto;
	bottom: 0;
	width: 28px;
	height: 28px;
	font-size: 13px;
	background: rgba(16, 172, 211, 0.20);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	opacity: 1;
	left: auto;
	i {
		margin-left: -2px;
		margin-top: 1px;
	}
	&:hover {
		background: rgba(16, 172, 211, 1);
	}
}
.carousel-control-next {
	position: relative;
	top: auto;
	width: auto;
	bottom: 0;
	width: 28px;
	height: 28px;
	font-size: 13px;
	background: rgba(16, 172, 211, 0.20);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	opacity: 1;
	left: auto;
	right: auto;
	i {
		margin-right: -2px;
		margin-top: 1px;
	}
	&:hover {
		background: rgba(16, 172, 211, 1);
	}
}
.carousel-item-next {
	&:not(.carousel-item-start) {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		.carousel-img {
			-webkit-transform: translateX(100%);
			-ms-transform: translateX(100%);
			transform: translateX(100%);
		}
		.carousel-ttl_name {
			-webkit-transform: translateY(400%);
			-ms-transform: translateY(400%);
			transform: translateY(400%);
			-webkit-transition: -webkit-transform 1s ease-in-out;
			transition: -webkit-transform 1s ease-in-out;
			-o-transition: transform 1s ease-in-out;
			transition: transform 1s ease-in-out;
			transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
		}
		.carousel-txt {
			p {
				-webkit-transform: translateY(-400%);
				-ms-transform: translateY(-400%);
				transform: translateY(-400%);
				-webkit-transition: -webkit-transform 1s ease-in-out;
				transition: -webkit-transform 1s ease-in-out;
				-o-transition: transform 1s ease-in-out;
				transition: transform 1s ease-in-out;
				transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
			}
		}
	}
}
.active.carousel-item-end {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	.carousel-img {
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
	}
	.carousel-ttl_name {
		-webkit-transform: translateY(400%);
		-ms-transform: translateY(400%);
		transform: translateY(400%);
		-webkit-transition: -webkit-transform 1s ease-in-out;
		transition: -webkit-transform 1s ease-in-out;
		-o-transition: transform 1s ease-in-out;
		transition: transform 1s ease-in-out;
		transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
	}
	.carousel-txt {
		p {
			-webkit-transform: translateY(-400%);
			-ms-transform: translateY(-400%);
			transform: translateY(-400%);
			-webkit-transition: -webkit-transform 1s ease-in-out;
			transition: -webkit-transform 1s ease-in-out;
			-o-transition: transform 1s ease-in-out;
			transition: transform 1s ease-in-out;
			transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
		}
	}
}
.carousel-item-prev {
	&:not(.carousel-item-end) {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		.carousel-img {
			-webkit-transform: translateX(-100%);
			-ms-transform: translateX(-100%);
			transform: translateX(-100%);
		}
		.carousel-ttl_name {
			-webkit-transform: translateY(400%);
			-ms-transform: translateY(400%);
			transform: translateY(400%);
			-webkit-transition: -webkit-transform 1s ease-in-out;
			transition: -webkit-transform 1s ease-in-out;
			-o-transition: transform 1s ease-in-out;
			transition: transform 1s ease-in-out;
			transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
		}
		.carousel-txt {
			p {
				-webkit-transform: translateY(-400%);
				-ms-transform: translateY(-400%);
				transform: translateY(-400%);
				-webkit-transition: -webkit-transform 1s ease-in-out;
				transition: -webkit-transform 1s ease-in-out;
				-o-transition: transform 1s ease-in-out;
				transition: transform 1s ease-in-out;
				transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
			}
		}
	}
}
.active.carousel-item-start {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	.carousel-img {
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	.carousel-ttl_name {
		-webkit-transform: translateY(400%);
		-ms-transform: translateY(400%);
		transform: translateY(400%);
		-webkit-transition: -webkit-transform 1s ease-in-out;
		transition: -webkit-transform 1s ease-in-out;
		-o-transition: transform 1s ease-in-out;
		transition: transform 1s ease-in-out;
		transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
	}
	.carousel-txt {
		p {
			-webkit-transform: translateY(-400%);
			-ms-transform: translateY(-400%);
			transform: translateY(-400%);
			-webkit-transition: -webkit-transform 1s ease-in-out;
			transition: -webkit-transform 1s ease-in-out;
			-o-transition: transform 1s ease-in-out;
			transition: transform 1s ease-in-out;
			transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
		}
	}
}
.carousel-indicators {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 16px;
	-moz-column-gap: 16px;
	column-gap: 16px;
	row-gap: 16px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	left: auto;
	right: auto;
	bottom: 0;
	margin: 0;
	[data-bs-target] {
		width: auto;
		height: 80px;
		padding: 0;
		text-indent: unset;
		margin: 0;
		border: 0;
		opacity: .3;
		background-color: $background-color_6;
	}
	.active {
		opacity: 1;
	}
	.carousel-img {
		position: relative;
		-o-object-fit: contain;
		object-fit: contain;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
}
.carousel-container {
	height: inherit;
	position: relative;
	overflow: hidden;
}
.carousel-caption {
	bottom: 35%;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0;
	z-index: 1;
	max-width: 60%;
	margin: 0 auto;
}
.carousel-ttl {
	padding-bottom: 14px;
	overflow: hidden;
}
.carousel-ttl_name {
	font-size: 40px;
	font-weight: 700;
	-webkit-transition: -webkit-transform 1.5s ease-in-out;
	transition: -webkit-transform 1.5s ease-in-out;
	-o-transition: transform 1.5s ease-in-out;
	transition: transform 1.5s ease-in-out;
	transition: transform 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
}
.carousel-txt {
	padding-top: 14px;
	overflow: hidden;
	min-height: 60px;
	p {
		font-size: 17px;
		-webkit-transition: -webkit-transform 1.5s ease-in-out;
		transition: -webkit-transform 1.5s ease-in-out;
		-o-transition: transform 1.5s ease-in-out;
		transition: transform 1.5s ease-in-out;
		transition: transform 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
	}
}
.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.navbar-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 2rem;
	-moz-column-gap: 2rem;
	column-gap: 2rem;
	row-gap: 10px;
}
.navbar {
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
.navbar.affix {
	position: fixed !important;
	background: rgba(0, 0, 0, 1);
	.nav-link {
		padding: 20px 16px !important;
	}
}
.navbar-brand {
	padding: 0;
	margin-right: 0;
	font-weight: bold;
	color: $color_1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 8px;
	-moz-column-gap: 8px;
	column-gap: 8px;
	padding: 15px 10px;
	font-size: 22px;
	img {
		max-width: 32px;
	}
}
.navbar-brand_name {
	font-size: 22px;
	font-weight: 800;
}
.navbar-toggler {
	color: $color_2;
	padding: 0;
	margin-top: -4px;
	margin-right: 4px;
	&:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
.navbar-layout {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.nav-link {
	color: $color_2;
	font-size: 15px;
	font-weight: 500;
	padding: 24px 20px !important;
	background: transparent;
	border: none;
	-webkit-transition: padding .3s ease-in-out;
	-o-transition: padding .3s ease-in-out;
	transition: padding .3s ease-in-out;
	&:focus {
		color: $color_2;
	}
	&:active {
		color: $color_2;
	}
	&:hover {
		color: $color_1;
	}
	&:focus-visible {
		outline: none;
	}
	i {
		font-size: 6px;
	}
}
.nav-link.active {
	color: $color_1;
}
.rmenu_header-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.rmenu_header-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-column-gap: 1rem;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	row-gap: 1rem;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.rmenu_list {
	li {
		a {
			font-size: 15px;
			color: $color_2;
			display: block;
			padding: 8px 15px;
			letter-spacing: 1px;
			text-decoration: none;
			&:hover {
				background-color: $background-color_7;
				color: $color_2;
			}
		}
	}
}
.cd-nav-container {
	padding-right: 0;
	width: 100%;
	background-color: $background-color_8;
	z-index: 1000;
	.rmenu_header {
		background: 0 0;
		text-align: left;
		padding: 20px 15px;
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		.call-delivery {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
		}
		.call-delivery-label {
			font-size: 15px;
			font-weight: 500;
			line-height: normal;
			font-family: $font-family_3;
		}
		.call-delivery-number {
			font-size: 19px;
			color: $color_4;
			font-weight: 700;
		}
	}
}
#cd-nav {
	.rmenu_list {
		list-style: none;
		padding-left: 0;
		li {
			a {
				span {
					position: absolute;
					right: 0;
					top: 0;
					color: $color_2;
					width: 41px;
					height: 41px;
					font-size: 24px;
					background-color: $background-color_9;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					z-index: 999;
					cursor: pointer;
					i {
						-webkit-transition: -webkit-transform .2s;
						transition: -webkit-transform .2s;
						-o-transition: transform .2s;
						transition: transform .2s;
						transition: transform .2s, -webkit-transform .2s;
						-webkit-transform: rotate(0);
						-ms-transform: rotate(0);
						transform: rotate(0);
					}
				}
			}
			a.open {
				span {
					i {
						-webkit-transition: -webkit-transform .2s;
						transition: -webkit-transform .2s;
						-o-transition: transform .2s;
						transition: transform .2s;
						transition: transform .2s, -webkit-transform .2s;
						-webkit-transform: rotate(90deg);
						-ms-transform: rotate(90deg);
						transform: rotate(90deg);
					}
				}
			}
			.dropdown-menu {
				position: relative;
				float: none;
				border-radius: 0;
				padding: 0;
				border: 0;
				top: 0;
				margin: 0;
				-webkit-box-shadow: none;
				box-shadow: none;
				background-color: $background-color_10;
			}
		}
	}
	.open+.dropdown-menu {
		display: block;
	}
}
.open {
	background: #69513d;
	color: $color_2 !important;
}
.rmenu_lang {
	margin-bottom: 30px;
	text-align: center;
	li {
		display: inline-block;
		a {
			color: $color_2;
			letter-spacing: 3px;
			padding: 8px 4px;
			margin: 0 8px;
			font-size: 13px;
		}
	}
}
.rmenu_social {
	margin-top: 20px;
	text-align: center;
	a {
		display: inline-block;
		margin: 0 4px;
		font-size: 20px;
		color: $color_2;
		padding: 10px;
	}
}
.burger-menu {
	right: 0;
	-webkit-transform: translateX(110%);
	-ms-transform: translateX(110%);
	transform: translateX(110%);
}
.cd-overlay {
	z-index: 999;
}
.slick-list {
	padding-bottom: 50px !important;
}
.slick-slide {
	margin-left: 12px;
	margin-right: 12px;
	img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}
.slick-dots {
	bottom: 0;
	li {
		margin-left: 8px;
		margin-right: 8px;
		width: 30px;
		height: 4px;
		button {
			width: 30px;
			height: 4px;
			&:before {
				content: "";
				width: 100%;
				height: 100%;
				background-color: $background-color_11;
				opacity: 1;
				color: $color_5;
				border-radius: 20px;
			}
		}
	}
	li.slick-active {
		button {
			&:before {
				color: $color_5;
				background-color: $background-color_4;
				border-color: $border-color_1;
				opacity: 1;
			}
		}
	}
}
.slick-track {
	margin-left: 0;
}
.card {
	border: none;
	background-color: $background-color_6;
}
.card-text {
	color: $color_2;
}
.card-image {
	position: relative;
}
.card-image_over {
	position: absolute;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.card-time {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 6px;
	-moz-column-gap: 6px;
	column-gap: 6px;
	color: $color_2;
	background-color: $background-color_12;
	padding: 4px 16px;
	font-size: 13px;
	i {
		color: $color_1;
	}
}
.card-version {
	padding: 6px 8px;
	background-color: $background-color_4;
	color: $color_2;
}
.card-title {
	font-size: 22px;
	color: $color_2;
	margin-bottom: 10px;
	font-weight: 700;
}
.card-body {
	background-color: $background-color_12;
}
.card-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	row-gap: 10px;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	background-color: $background-color_13;
	padding: 0.5rem 1rem;
}
.ch-obj {
	margin-top: 20px;
}
.ch-obj_ttl {
	color: $color_2;
	font-size: 16px;
}
.ch-obj_text {
	color: $color_2;
	opacity: .5;
	font-size: 12px;
}
.ch-visitor {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	>div+div {
		margin-left: -12px;
		z-index: 1;
	}
}
.ch-user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	margin-top: 20px;
	min-height: 34px;
}
.ch-user_stats {
	color: $color_6;
	font-size: 13px;
	strong {
		font-size: 15px;
		color: $color_2;
	}
}
.user-box {
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	height: 30px;
	min-width: 30px;
	overflow: hidden;
	width: 30px;
}
.user-avatar {
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-transform: scale(1.5) translateY(10%);
	-ms-transform: scale(1.5) translateY(10%);
	transform: scale(1.5) translateY(10%);
	width: 100%;
	height: 100%;
}
.ch-visitor_count {
	background-color: $background-color_14;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	color: $color_7;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
	height: 30px;
	min-width: 30px;
	width: 30px;
	padding: 5px;
}
.ch-prize {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-column-gap: 8px;
	-moz-column-gap: 8px;
	column-gap: 8px;
	margin-top: 20px;
	img {
		width: 25px;
	}
}
.ch-prize_amount {
	font-size: 18px;
	color: $color_8;
}
.ch-prize_text {
	color: $color_2;
	opacity: .5;
	font-size: 12px;
}
.gcard {
	.slick-list {
		padding-bottom: 0 !important;
		padding-left: 0 !important;
	}
	.slick-next {
		display: none !important;
	}
	.slick-prev {
		&:before {
			content: "\e906";
			font-size: 28px;
			color: $color_1;
			font-family: $font-family_4;
		}
	}
}
.gcard-desc {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	max-width: 80%;
	row-gap: 10px;
	margin-bottom: 4rem;
}
.gcard-subject {
	font-size: 32px;
	color: $color_2;
	font-weight: 600;
	line-height: 42px;
}
.gcard-note {
	color: $color_3;
	opacity: .5;
	font-size: 16px;
}
.gcard-item {
	position: relative;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0, 0, 0, 0.1)), color-stop(90%, rgba(0, 0, 0, .9)));
		background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, .9) 90%);
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, .9) 90%);
	}
	&:hover {
		&:after {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, .9)));
			background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .9) 90%);
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .9) 90%);
		}
	}
}
.gcard-rating {
	color: $color_9;
	font-size: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	i {
		color: $color_10;
		font-size: 13px;
	}
	span {
		color: $color_2;
		font-size: 16px;
	}
}
.gcard_details {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.gcard-bottom {
	padding: 10px;
}
.gcard-catg {
	color: $color_2;
	font-size: 14px;
	opacity: .8;
}
.gcard-title {
	color: $color_2;
	margin-bottom: 4px;
	font-size: 21px;
}
.gcard-stats {
	color: $color_2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	row-gap: 10px;
	margin-top: 8px;
	padding-top: 5px;
	border-top: 1px solid #343434;
}
.gcard-stats_col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.gcard-stats_label {
	font-size: 12px;
	opacity: .3;
}
.gcard-stats_num {
	font-weight: 500;
	font-size: 14px;
	opacity: .6;
}
.pw-list {
	padding: 2rem 8rem;
	.row {
		>div {
			&:nth-child(2) {
				-webkit-transform: translateY(-1.5rem);
				-ms-transform: translateY(-1.5rem);
				transform: translateY(-1.5rem);
			}
		}
	}
}
.pw-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	row-gap: 1rem;
	border-radius: 16px;
	padding: 4rem 2rem;
	background: #08000a;
	padding: 3rem 2rem 2rem;
	border-radius: 14px;
	-webkit-box-shadow: 0 0 10px 0px #e459f2;
	box-shadow: 0 0 10px 0px #e459f2;
	&:hover {
		.pw-avatar_bg {
			-webkit-animation: spin 6s linear infinite;
			animation: spin 6s linear infinite;
		}
	}
}
.pw-avatar_circle {
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	height: 76px;
	min-width: 76px;
	overflow: hidden;
	width: 76px;
	position: relative;
	img {
		-o-object-fit: cover;
		object-fit: cover;
		-webkit-transform: scale(1.2) translateY(0%);
		-ms-transform: scale(1.2) translateY(0%);
		transform: scale(1.2) translateY(0%);
		width: 100%;
		height: 100%;
	}
}
.pw-avatar {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 120px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 10px;
}
.pw-avatar_bg {
	position: absolute;
	width: 80%;
}
.pw-place {
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(194 14 231 / 30%)), to(rgb(117 65 222 / 60%)));
	background: -o-linear-gradient(top, rgb(194 14 231 / 30%), rgb(117 65 222 / 60%));
	background: linear-gradient(to bottom, rgb(194 14 231 / 30%), rgb(117 65 222 / 60%));
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: $color_3;
	border-radius: 50%;
	width: 38px;
	min-width: 38px;
	height: 34px;
	font-weight: bold;
	font-size: 1.1rem;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	sup {
		top: -2px;
		left: 1px;
		font-size: .7rem;
		font-weight: 300;
		letter-spacing: 1px;
	}
}
.pw-name {
	font-size: 1.4rem;
	font-weight: bold;
	color: $color_3;
}
.pw-prize {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	img {
		width: 20px;
	}
}
.pw-prize_amount {
	color: $color_8;
	font-weight: 600;
	font-size: 16px;
	line-height: normal;
}
.pw-credit {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	margin-bottom: 0.6rem;
	img {
		width: 18px;
	}
}
.pw-credit_amount {
	color: $color_1;
	font-size: 16px;
	font-weight: bold;
}
.pw-link {
	padding: 8px 16px;
}
.feat-info {
	width: 80%;
	margin-bottom: 3rem;
}
.feat-info_ttl {
	color: $color_2;
	font-weight: 600;
	margin-bottom: 2rem;
}
.feat-info_text {
	color: $color_2;
	opacity: .5;
	line-height: 1.5rem;
	margin-bottom: 2.5rem;
}
.feat-head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 15px;
	-moz-column-gap: 15px;
	column-gap: 15px;
}
.feat-name {
	font-size: 1.3rem;
	color: $color_2;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 1rem;
}
.feat-desc {
	color: $color_2;
	opacity: .6;
	line-height: 1.5rem;
}
.feat-card {
	margin-bottom: 3rem;
	padding-left: .5rem;
	padding-right: .5rem;
	i {
		font-size: 1.5rem;
		color: $color_11;
		margin-bottom: 1rem;
		display: inline-block;
	}
}
.feat-stats {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-column-gap: 2rem;
	-moz-column-gap: 2rem;
	column-gap: 2rem;
	row-gap: 1rem;
}
.feat-stats_num {
	color: $color_1;
	font-size: 1.8rem;
	font-weight: 700;
}
.feat-stats_label {
	color: $color_2;
	font-size: .9rem;
	font-weight: 600;
}
.about-card {
	padding: 3.75rem;
	.row {
		row-gap: 40px;
	}
}
.about-ttl {
	color: $color_2;
	margin-bottom: 3rem;
	font-weight: 700;
	font-size: 2rem;
}
.about-text {
	color: $color_12;
	font-size: 1rem;
}
.follow {
	margin-top: 2.5rem;
}
.follow-list {
	margin-top: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	row-gap: 10px;
	a {
		text-decoration: none;
		padding: 5px;
		border-radius: 6px;
		border: 1px solid #4c4d5a;
		font-size: 13px;
		width: 30px;
		min-width: 30px;
		height: 30px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		&:hover {
			border: 1px solid #e35aff;
			background-color: $background-color_4;
			color: $color_2;
		}
	}
}
.follow-title {
	font-size: 1.25rem;
	color: $color_2;
}
.subs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	height: 100%;
}
.subs-form {
	background: -webkit-gradient(linear, left top, right top, from(#e459f2), to(#7340dd));
	background: -o-linear-gradient(left, #e459f2, #7340dd);
	background: linear-gradient(to right, #e459f2, #7340dd);
	padding: 3.75rem 2rem;
	border-radius: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	row-gap: 1rem;
}
.subs-text {
	color: $color_3;
	font-weight: 600;
	font-size: 14px;
}
.subs-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	row-gap: 10px;
	border: 1px solid rgb(236 237 238 / 40%);
	border-radius: 10px;
	padding: 1rem;
	input {
		background: rgba(255, 255, 255, 0.3);
		-webkit-box-shadow: none;
		box-shadow: none;
		color: $color_2;
		border-radius: 10px;
		height: 52px;
		border: none;
		&:focus {
			background: rgba(255, 255, 255, 0.3);
			-webkit-box-shadow: none;
			box-shadow: none;
			color: $color_2;
			border-radius: 10px;
			height: 52px;
			border: none;
		}
		&::-webkit-input-placeholder {
			color: $color_2;
		}
		&::-moz-placeholder {
			color: $color_2;
		}
		&:-ms-input-placeholder {
			color: $color_2;
		}
		&::-ms-input-placeholder {
			color: $color_2;
		}
		&::placeholder {
			color: $color_2;
		}
	}
	button {
		padding: 13px 25px;
		background-color: $background-color_12;
		font-weight: 600;
		border-radius: 16px;
		border-color: $border-color_1;
		&:hover {
			border: 1px solid #120d21;
			color: $color_3;
			background-color: $background-color_15;
		}
	}
}
.contact-ttl {
	color: $color_2;
	margin-bottom: 1rem;
	font-weight: 700;
	font-size: 2rem;
}
.contact-text {
	color: $color_12;
	font-size: 1.2rem;
}
section.contact {
	padding: 0 !important;
}
.contact-layer {
	background-color: $background-color_3;
	padding-top: 30px;
	padding-bottom: 30px;
}
.contact-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-column-gap: 3rem;
	-moz-column-gap: 3rem;
	column-gap: 3rem;
	row-gap: 1rem;
}
.contact-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	row-gap: 4px;
	color: $color_2;
	font-size: 1rem;
	strong {
		font-size: 24px;
		font-weight: 500;
		color: $color_13;
	}
}
.rw-content {
	background-color: $background-color_16;
	padding: 3rem 2.5rem 2rem;
	border-radius: 14px;
	border: 1px solid #e35aff;
}
.rw-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-column-gap: 1rem;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	row-gap: 1rem;
	margin-bottom: 1rem;
}
.rw-icon {
	color: $color_1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	i {
		font-size: 1.3rem;
	}
}
.rw-date {
	font-size: .8rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
	display: inline-block;
	color: $color_2;
	opacity: .3;
}
.rw-text {
	color: $color_2;
	font-size: 1rem;
	margin-bottom: 2rem;
	font-weight: 300;
}
.rw-author {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 1rem;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	row-gap: 1rem;
}
.rw-card {
	.user-box {
		width: 40px;
		min-width: 40px;
		height: 40px;
	}
}
.rw-author_name {
	color: $color_2;
	font-weight: 600;
}
.rw-rating {
	color: $color_10;
	font-size: 1.4rem;
	font-weight: bold;
}
.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-column-gap: 52px;
	-moz-column-gap: 52px;
	column-gap: 52px;
	padding-bottom: 18px;
	padding-left: 24px;
	padding-right: 24px;
	padding: 3rem 0;
	background-color: $background-color_12;
}
.fmenu {
	list-style: none;
	padding-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-column-gap: 3rem;
	-moz-column-gap: 3rem;
	column-gap: 3rem;
	row-gap: .6rem;
	margin-bottom: 2rem;
	li {
		width: calc(50% - 3rem);
		a {
			text-decoration: none;
			color: $color_6;
			-webkit-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			&:hover {
				color: $color_1;
			}
		}
	}
}
.flogo {
	color: $color_1;
	margin-bottom: 1.3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	h3 {
		font-weight: 800;
	}
	img {
		max-width: 42px;
	}
}
.ftitle {
	font-size: 22px;
	color: $color_2;
	font-weight: 500;
	margin-bottom: 1.3rem;
}
.ftext {
	color: $color_2;
	opacity: .5;
	line-height: 1.5rem;
	margin-bottom: 2rem;
	max-width: 88%;
}
.fsocial {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	row-gap: 10px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	a {
		color: $color_3;
		text-decoration: none;
		padding: 5px;
		border-radius: 6px;
		background-color: $background-color_17;
		width: 34px;
		min-width: 34px;
		height: 34px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		font-size: 15px;
		-webkit-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		&:hover {
			background-color: $background-color_4;
			color: $color_2;
		}
	}
}
.fapps {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	row-gap: 20px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	a {
		border: 1px solid rgba(255, 255, 255, 0.15);
		padding: 1rem;
		text-decoration: none;
		width: calc(50% - 10px);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-column-gap: 1rem;
		-moz-column-gap: 1rem;
		column-gap: 1rem;
		color: $color_2;
		font-size: 14px;
		border-radius: 4px;
		-webkit-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		i {
			font-size: 20px;
		}
		&:hover {
			background-color: $background-color_4;
			border-color: $border-color_2;
			color: $color_2;
		}
	}
	strong {
		font-weight: 500;
	}
}
.fpay {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	row-gap: 10px;
	margin-bottom: 2rem;
	img {
		max-width: 40px;
	}
}
.fpay-item {
	width: calc(100%/3 - 10px);
	border: 1px solid #322d44;
	background-color: $background-color_18;
	border-radius: 6px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: .5rem;
	height: 50px;
}
.fcopy {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	row-gap: 20px;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
	padding-top: 1.5rem;
	margin-top: 1rem;
}
.fcopy-info {
	color: $color_2;
}
.fcopy-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 1.8rem;
	-moz-column-gap: 1.8rem;
	column-gap: 1.8rem;
	row-gap: 0.6rem;
	a {
		color: $color_2;
		text-decoration: none;
		font-size: 15px;
		-webkit-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		&:hover {
			color: $color_1;
		}
	}
}
@media (max-width: 1199px) {
	.pw-list {
		padding: 2rem 4rem;
	}
}
@media (max-width: 991px) {
	.header {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		z-index: 2;
	}
	.navbar {
		padding: 10px;
	}
	.navbar-layout {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		border-radius: 0;
		.dropdown {
			.nav-link.dropdown-toggle {
				border: none;
				padding: 13px 16px 13px 8px !important;
			}
			&:hover {
				.nav-link.dropdown-toggle {
					background: -o-linear-gradient(299deg, #A27AF7 0%, #9538BF 100%);
					background: linear-gradient(151deg, #A27AF7 0%, #9538BF 100%);
				}
				background: transparent;
			}
			width: 100%;
			border-radius: 0;
			padding: 0;
		}
		.dropdown-menu {
			position: relative;
			border-radius: 0;
			margin-top: 0;
			padding-left: 20px;
		}
	}
	.navbar-nav {
		margin: 0 !important;
		width: 100%;
	}
	.nav-item {
		&:first-child {
			.nav-link {
				padding-left: 8px !important;
				border-radius: 0;
			}
		}
	}
	.nav-link {
		width: 100%;
		text-align: left;
	}
	.navbar-toggler {
		padding: 13px 10px;
	}
	.subs-form {
		width: 100%;
		padding: 1rem;
	}
	.fapps {
		a {
			width: 100%;
		}
	}
	.scroll-up {
		right: 20px;
	}
	.feat-info {
		width: 90%;
	}
	.carousel-caption {
		max-width: 70%;
	}
	.pw-list {
		.row {
			>div {
				&:nth-child(2) {
					-webkit-transform: translateY(0);
					-ms-transform: translateY(0);
					transform: translateY(0);
				}
			}
		}
	}
	.pw-card {
		margin-bottom: 1.5rem;
	}
}
@media (max-width: 767px) {
	.comm {
		i {
			font-size: 4rem;
			margin-bottom: 1rem;
		}
		background-attachment: scroll;
	}
	.comm-ttl {
		font-size: 1.8rem;
	}
	.comm-text {
		font-size: 1rem;
	}
	.comm-link {
		padding: 8px 10px;
		font-size: 1rem;
	}
	.rw-content {
		padding: 2rem 1.5rem 1rem;
	}
	.rw-text {
		font-size: 15px;
	}
	.rw-card {
		.user-box {
			width: 34px;
			min-width: 34px;
			height: 34px;
		}
	}
	.rw-author_name {
		font-size: 15px;
	}
	.rw-rating {
		font-size: 1.2rem;
	}
	.rw-icon {
		font-size: 1.1rem;
	}
	.parallax {
		background-attachment: scroll;
	}
	.carousel-indicators {
		[data-bs-target] {
			width: 60px;
			height: auto;
		}
	}
	.carousel-actions {
		bottom: 10%;
	}
	.carousel-caption {
		max-width: 85%;
	}
	.carousel-ttl_name {
		font-size: 30px;
	}
	.carousel-txt {
		p {
			font-size: 16px;
		}
	}
	.fapps {
		a {
			width: calc(50% - 10px);
			-webkit-box-flex: 0;
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
		}
	}
	.contact-list {
		margin-top: 2rem;
	}
	.section {
		padding: 100px 0 0;
	}
	.about-card {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.feat-info {
		width: 80%;
	}
	.pw-avatar_bg {
		width: 55%;
	}
}
@media (max-width: 600px) {
	.gcard {
		.slick-list {
			padding-left: 50px !important;
		}
	}
}
@media (max-width: 576px) {
	.downloads {
		.row {
			>* {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 auto;
				flex: 0 0 auto;
				width: 50%;
			}
		}
	}
	.fapps {
		a {
			width: 100%;
		}
	}
	.navbar {
		width: 100%;
	}
	.subs-area {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.fcopy-nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		a {
			padding: 2px 0;
		}
	}
	.fcopy {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
}
@media (max-width: 500px) {
	.pw-avatar_bg {
		width: 60%;
	}
	.pw-list {
		padding: 2rem;
	}
}
@media (max-width: 425px) {
	.fcopy-nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.subs-area {
		border: none;
		padding: 0;
	}
	.subs-form {
		padding: 2rem 1rem;
	}
}
@media (max-width: 375px) {
	.fapps {
		a {
			width: 100%;
		}
	}
	.fpay-item {
		width: 100%;
	}
}
